<% content_for :page_title, page_title(@person) %>
<% content_for :page_menu, person_menu(@person) %>
<% content_for :sidebar do %>
  <%= person_sidebar(@person) %>
  <%= render 'comments/commentable_comments', :commentable => @person %>
<% end %>
<% content_for :nav, back_button(people_path) %>

<%= list_attributes(@person, :birth_date, :death_date, :network) %>
<% if @person.background.present? %>
  <h3>Background</h3>
  <%= format_with_references @person.background %>
<% end %>

<% if @person.education.present? %>
<h3>Education</h3>
<%= format_with_references @person.education %>
<% end %>

<% if @person.character_reference.present? %>
<h3>Character Reference</h3>
<%= format_with_references @person.character_reference %>
<% end %>

<% if @person.career.present? %>
<h3>Career</h3>
<%= format_with_references @person.career %>
<% end %>

<% if @person.crew_list_entries.any? %>
<%= table_for @person.crew_list_entries.includes(:expedition), :html => {:class => 'table'} do |t| %>
  <% t.data do %>
    <% t.cell(:expedition_name, :heading => 'Expedition Name') {|crew_list_entry| crew_list_entry.expedition.name} %>
    <% t.cell(:rank) %>
  <% end %>
<% end %>
<% end %>