<% content_for :page_title, @label.to_s %>
<% content_for :page_menu, collect_button(@label) %>
<% content_for :sidebar do %> 
  <%= label_sidebar(@label) %>
  <%= render 'comments/commentable_comments', :commentable => @label %>
<% end %>
<% content_for :nav, back_button(labels_path) %>


<%= list_attributes(@label, {'Institution' => label_source_name(@label)}, :id_tag, :inscription, :dimensions, :attachment_method, :attachment_location) %>
<%= record_media(@label.media_items) %>

<h3>Description</h3>
<%= content_tag :p, @label.description %>

<% if @label.notes.any? %>
<h3>Researcher Notes</h3>
<%= render @label.notes %>
<% end %>

<%= javascript_tag do %>
  if (!isMobile.any()){
    PopupGallery('#record_media .media_thumbnail')
  }
<% end %>