<%= content_tag :p, inventory_list_entry.description %>
<%= content_tag :span, "ID tag: #{inventory_list_entry.id_tag}" %>,
<%= content_tag :span, "Item count tag: #{inventory_list_entry.id_tag}" %>,
<%= content_tag :span, "Page: #{inventory_list_entry.page}" %>
<h2>Related List Entries</h2>
<ul>
  <% for inventory_list_entry in inventory_list_entry.related_inventory_list_entries %>
  <li><%= link_to inventory_list_entry.display_name, inventory_list_entry %></li>
  <% end %>
</ul>

<h2>Related Encounters</h2>
<ul>
  <% for encounter in inventory_list_entry.related_encounters %>
  <li><%= link_to encounter.display_name, encounter %></li>
  <% end %>
</ul>