<% content_for :nav do %>
  <%= link_to 'Back', encounters_path %>
<% end %>
<% content_for :page_title do %>
   <%= "#{link_to 'Encounters', encounters_path} / #{@encounter.display_name}".html_safe %>
   <%#= encounter_show_menu_bar %>
<% end %>
<h2><%= encounter_source_name(@encounter) %></h2>
<%= list_attributes(@encounter, :accession_number, :part_count, :indigenous_name, :place_of_origin, :dimensions, :material) %>
<h3>Description</h3>
<%= content_tag :p, @encounter.description %>

<h3>Artefact History</h3>
<%= render @encounter.events.includes(:person) %>

<% content_for :sidebar, encounter_sidebar(@encounter) %>