<% content_for :sidebar, encounter_sidebar(@encounter) %>
<% content_for :nav do %>
  <%= link_to 'Back', aofe_encounters_path, :class => 'button' %>
<% end %>
<% content_for :page_title, page_title(@encounter)%>
<%= list_attributes(@encounter, :institution, :accession_number, :part_count, :indigenous_name, :place_of_origin, :dimensions, :material) %>
<h3>Description</h3>
<%= content_tag :p, @encounter.description %>

<h3>Artefact History</h3>
<%= render @encounter.events.includes(:person) %>

<h3>Researcher Notes</h3>
<%= render @encounter.notes %>

<hr/>
<%= render 'comments/commentable_comments', :commentable => @encounter %>

<%= javascript_tag "PopupGallery('#record_media .media_thumbnail')" %>