<% content_for :nav do %>
  <%= link_to 'Back', encounters_path %>
<% end %>

<h1><%= @encounter.display_name %></h1>

<%= render @encounter.media_items %>
<%= list_attributes(@encounter, :place_of_origin) %>

<h2>Expeditions</h2>
<%= render @encounter.related_expeditions %>

<h2>Voyages</h2>
<%= render @encounter.related_voyages %>

<h2>Other encounters with this artefact</h2>
<%= render @encounter.other_encounters %>

<h2>Labels</h2>
<%= render @encounter.artefact.related_labels %>
