<% content_for :page_title, 'Workbench' %>

<h2>My <%= Project.model_name.human.pluralize %></h2>
<%= record_list(current_user.projects).caption do |project| %>
  <%= content_tag :span, pluralize(project.size, 'item'), :class => :metadata %>
<% end %>
<%= new_button new_project_path %>

<h2>Other researchers' <%= Project.model_name.human.pluralize %></h2>
<%= record_list(Project.public.where('user_id <> ?', current_user.id)).caption do |project| %>
  <%= content_tag :span, project.user.to_s, :class => :metadata %>
<% end %>