<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :remember_me if devise_mapping.rememberable? %>
  <%= f.submit "Sign in" %>
<% end %>

<%= render :partial => "devise/shared/links" %>