<% content_for :nav do %>
  <%= link_to 'Back', encounters_path %>
<% end %>

<% content_for :page_title, "#{link_to 'Expeditions', expeditions_path} / #{@expedition.display_name}".html_safe %>

<%= list_attributes(@expedition, :principle_explorer, :commissioned) %>

<h2>Voyages</h2>
<%= record_list @expedition.voyages.sort_by(&:display_name) %>

<h2>Crew</h2>
<%= record_list @expedition.people.sort_by(&:display_name) %>

<% content_for :sidebar do %>
  <h2>Related</h2>
  <%= record_relation('Encounter', @expedition.related_encounters) %>
<% end %>