<% content_for :sidebar, expedition_sidebar(@expedition) %>
<% content_for :nav do %>
  <%= link_to 'Back', expeditions_path %>
<% end %>

<% content_for :page_title, page_title(@expedition) %>

<%= list_attributes(@expedition, :principle_explorer, :commissioned) %>

<h2>Voyages</h2>
<%= record_list @expedition.voyages.sort_by(&:display_name) %>

<h2>Crew</h2>
<div class='crew_list'><%= record_list @expedition.people.sort_by(&:display_name) %></div>

<%= render 'comments/commentable_comments', :commentable => @expedition %>