<% content_for :page_title, "Search" %>
<% content_for :page_menu, any_record_search %>
<% if params[:query]%>
<h2><%= SourceEncounter.model_name.human.pluralize %></h2>
<%= render @source_encounters %>
<h2><%= AOFEEncounter.model_name.human.pluralize %></h2>
<%= render @aofe_encounters %>
<h2><%= Voyage.model_name.human.pluralize %></h2>
<%= record_list @voyages %>
<h2><%= Person.model_name.human.pluralize %></h2>
<%= record_list @people %>
<h2><%= Inventory.model_name.human.pluralize %></h2>
<%= record_list @inventories %>
<h2><%= InventoryListEntry.model_name.human.pluralize %></h2>
<%= record_list @inventory_list_entries %>
<% end %>