<!DOCTYPE html>
<html>
<head>
  <title>Encounter</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='page'>
    <div id='sidebar'>
      <%= yield(:sidebar) %>
    </div>
    <div id='content'>
      <%= render 'shared/site_header'  %>
      <h1>
        <%= yield :page_title %>
        <%= yield :search %>
      </h1>
      <%= yield %>
      <%= render 'shared/pagination' %>
      <% if content_for? :nav %>
      <hr/>
      <%= yield :nav %>
      <% end %>
    </div>
  </div>
</body>
</html>
