<!DOCTYPE html>
<html>
<head>
  <title>Encounter</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= stylesheet_link_tag :offline if offline_mode? %>
  <%= javascript_include_tag :offline if offline_mode? %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="<%= params[:controller] %>_<%= params[:action] %>">
    <div class="navbar navbar-static-top <%= 'navbar-inverse' if offline_mode? %>" id="site_menu">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if offline_mode? && params[:controller] != 'projects' %>
            <%= link_to 'KIWA Offline', pages_path(:offline_index), :class => 'brand' %>
            <div class="nav-collapse collapse"><%= render 'shared/site_menu' %></div>
          <% elsif offline_mode? %>
            <%= link_to "KIWA Offline #{Project.model_name.human}", '', :class => 'brand' %>
          <% else %>
            <%= link_to 'KIWA', root_path, :class => 'brand' %>
            <div class="nav-collapse collapse"><%= render 'shared/site_menu' %></div>
          <% end %>
        </div>
      </div>
    </div>
  <div id='page' class='<%= page_class %>'>
    <h1 id='page_header' class='page-header'>
      <%= content_for :page_title %>
      <%= content_tag :span, content_for(:page_menu), :id => 'page_menu', :class => 'btn-toolbar' if content_for?(:page_menu) %>
    </h1>    
    <div id="alerts"><%= flash_messages %></div>
    <div id='content'>      
      <%= yield %>
      <%= content_tag :div, content_for(:sidebar), :id => 'sidebar' if content_for?(:sidebar) %>

      <% if content_for? :pagination %>
        <hr>
        <%= content_for(:pagination) %>
      <% end %>

      <% if content_for? :nav %>
        <hr/>
        <%= content_for :nav %>
      <% end %>
    </div>
    <footer>
      <%= content_tag :div, "Downloaded #{timestamp(Time.now)}", :id => 'offline_timestamp' if offline_mode? %>
    </footer>
  </div>
  <%= render('projects/add_to_project_modal') if @add_to_project_modal %>
  <%= content_for(:js) %>
</body>
</html>
