<!DOCTYPE html>
<html>
<head>
  <title>Encounter</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id='page' class='<%= page_class %>'>
    <header><%= site_menu %></header>
    <%= content_tag :div, content_for(:sidebar), :id => 'sidebar' if content_for?(:sidebar) %>
    <div id='content'>
      <h1><%= content_for :page_title %></h1>
      <%= content_for :page_menu %>
      <%= yield %>
      <%= render 'shared/pagination' %>
      <% if content_for? :nav %>
      <hr/>
      <%= content_for :nav %>
      <% end %>
      <footer></footer>
    </div>
  </div>
</body>
</html>
